/.env
/.env.local
/.admin-password
/.phpunit.cache/
/.phpunit.result.cache
/.php-cs-fixer.cache
/.phpstan.cache/
/node_modules/
/test-results/
/build/
/coverage/
/storage/cache/*
/storage/logs/*
/storage/sessions/*
/storage/tmp/*
/storage/private/*
/extensions/*
/public/assets/extensions/
/vendor/

!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
!/storage/tmp/.gitkeep
!/storage/private/.gitkeep
!/extensions/.gitkeep
dump.rdb
