/.env
/.env.local
/.phpunit.cache/
/.phpunit.result.cache
/.php-cs-fixer.cache
/.phpstan.cache/
/build/
/coverage/
/public/assets/build/
/storage/cache/*
/storage/logs/*
/storage/sessions/*
/storage/tmp/*
/vendor/

!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep
!/storage/tmp/.gitkeep
